/* 全局樣式 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Serif TC', Arial, sans-serif;
    background: url('/images/brown_background.jpg') no-repeat center center fixed; 
    background-size: cover; 
}

.container {
    display: flex;
    height: 100%;
}

.panel-title {
    position: absolute;
    top: 20px;
    left: 30px;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Noto Serif TC', Arial, sans-serif;
    z-index: 10;
    letter-spacing: 4px;
}

/* Left Panel */
.left-panel {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    padding: 20px; /* 增加內距 */
    font-family: 'Noto Serif TC', Arial, sans-serif;
    color:antiquewhite;
}



.left-panel button {
    width: 200px; /* 固定寬度 */
    height: 100px;
    background-color: #ffffff;
    border: none;
    color: #333;
    padding: 15px 20px; /* 增加垂直內距，讓按鈕更大 */
    margin: 50px 0; /* 增加按鈕之間的間距 */
    font-size: 30px; /* 稍微增大字體 */
    font-family: 'Noto Serif TC', Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px; /* 可以增加圓角 */
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 增加陰影效果 */
}

.left-panel button:hover {
    background-color: #fbd7b0;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 懸停時陰影更明顯 */
}

/* Right Panel */
.right-panel {
    width: 80%;
    padding: 20px;
    padding-left: 50px;
    color: #fff;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    line-height: 1.5;
}