/* 全局樣式 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Serif TC', Arial, sans-serif;
    background: url('/images/brown_background.jpg') no-repeat center center fixed; 
    background-size: cover; 
}

.container {
    display: flex;
    height: 100%;
}

/* 左側面板 */
.left-panel {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 30px;
    color: antiquewhite;
    letter-spacing: 8px;
}

.left-panel button {
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border: none;
    color: #333;
    padding: 15px 20px;
    margin: 50px 0;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-panel button:hover {
    background-color: #fbd7b0;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* 右側面板 */
.right-panel {
    width: 80%;
    padding: 20px;
    color: #fff;
    position: relative;
    overflow-y: auto;
    line-height: 1.5;
}

/* 主頁圖片樣式 */
.homepage-image {
    display: block; /* 確保圖片為區塊元素 */
    margin: 0 auto; /* 水平置中 */
    position: absolute; /* 絕對定位 */
    bottom: -100px; /* 靠近底部，調整間距 */
    left: 50%; /* 水平定位 */
    transform: translateX(-50%); /* 將中心點對齊 */
    max-width: 100%; /* 設置最大寬度避免圖片過大 */
    max-height: auto; /* 限制圖片高度 */
    opacity: 0.9;
}
